<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Orders List</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container container-fluid">
    <h1> Customer Orders List</h1>
    <br/> <br/>
    <table class="table table-bordered">
        <thead class="font-weight-bold">
        <tr>
            <td> Customer Id</td>
            <td> First Name</td>
            <td> Last Name</td>
            <td> Email</td>
            <td> Phone</td>
            <td> Order Id</td>
            <td> Item Name</td>
            <td> Order Place</td>
            <td> Purchase Time</td>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${customerorders.empty}">
                <td colspan="2"> No Customers Available </td>
            </tr>
            <tr th:each="customerorder: ${customerorders}">
                <td th:text="${customerorder.customerId}"></td>
                <td th:text="${customerorder.firstName}">/td>
                <td th:text="${customerorder.lastName}"></td>
                <td th:text="${customerorder.email}"></td>
                <td th:text="${customerorder.phone}"></td>
                <td th:text="${customerorder.orderId}">/td>
                <td th:text="${customerorder.orderItemName}"></td>
                <td th:text="${customerorder.orderPlace}"></td>
                <td th:text="${customerorder.orderPurchaseTime}"></td>
            </tr>
        </tbody>
    </table>

    <br/> <br/>
    <p>
        <a href="/home" th:href="@{/}">Home</a>
    </p>
</div>
</body>
</html>
