<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers List</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<br/> <br/>
<div class="container container-fluid">
    <h1> Customers List</h1>
    <br/> <br/>
    <table class="table table-bordered"  th:if="!${customers.empty}">
        <thead class="font-weight-bold">
        <tr>
            <td> Customer Id</td>
            <td> First Name</td>
            <td> Last Name</td>
            <td> Email</td>
            <td> Phone</td>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${customers.empty}">
                <td colspan="2"> No Customers Available </td>
            </tr>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.customerId}"> Customer Id</td>
                <td th:text="${customer.firstName}">First Name</td>
                <td th:text="${customer.lastName}">Last Name</td>
                <td th:text="${customer.email}">Email</td>
                <td th:text="${customer.phone}">Phone</td>
            </tr>
        </tbody>
    </table>

    <div th:if="${customers.empty}">
        <p> No Customers Available </p>
    </div>

    <br> <br>
    <div>
        <p>
            <a href="/create-customer" style="margin: 10px">Create New</a>
            <a href="/home" style="margin: 10px">Home</a>
        </p>
    </div>
</div>
</body>
</html>
