<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Greetings List</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<br/> <br/>
<div class="container container-fluid">
    <h1> Greetings List</h1>
    <br/> <br/>
    <table class="table table-bordered" th:if="!${greetings.empty}">
        <thead class="font-weight-bold">
        <tr>
            <td> Message </td>
            <td> Time Stamp</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="greeting: ${greetings}">
                <td th:text="${greeting.message}"></td>
                <td th:text="${greeting.timestamp}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${greetings.empty}">
        <p> No Greetings Available </p>
    </div>


    <br> <br>
    <div style="text-align: center">
        <p>
            <a href="/create-greeting" style="margin: 10px">Create New</a>
            <a href="/home" style="margin: 10px">Home</a>
        </p>
    </div>
</div>
</body>
</html>
