<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container container-fluid" style="margin-bottom: 50px">
    <h1> Home</h1>

    <br/>
    <h4>Customer Orders</h4>
    <div class="card">
        <div class="card-body">
            <a th:href="@{/customer-orders}">Customer Orders</a>
            (Retrieved from Kafka Materialized views)
        </div>
    </div>

    <br/> <br/>
    <h4>Customers</h4>
    <div class="card">
        <div class="card-body">
            <p><a th:href="@{/customers}">Customers</a> (Retrieved from Kafka Materialized views)</p>
            <p><a th:href="@{/create-customer}">Create New Customer</a></p>
        </div>
    </div>

    <br/> <br/>
    <h4>Orders</h4>
    <div class="card">
        <div class="card-body">
            <p><a th:href="@{/orders}">Orders</a> (Retrieved from Kafka Materialized views)</p>
            <p><a  th:href="@{/create-order}">Create New Order</a></p>
        </div>
    </div>


    <br/> <br/>
    <h4>Greetings</h4>
    <div class="card">
        <div class="card-body">
            <p><a th:href="@{/greetings}">Greetings</a> (Retrieved from Kafka Materialized views)</p>
            <p><a th:href="@{/create-greeting}">Create New Greeting</a></p>
        </div>
    </div>

</div>
</body>
</html>
