<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container container-fluid" style="margin-bottom: 50px">
    <h1> Home</h1>

    <br/>
    <h4>Customer Orders</h4>
    <div class="card">
        <div class="card-body"><a href="customer-orders">Customer Orders</a></div>
    </div>

    <br/> <br/>
    <h4>Customers</h4>
    <div class="card">
        <div class="card-body"><a href="customers">Customers</a></div>
        <div class="card-footer"><a href="create-customer">Create New Customer</a></div>
    </div>

    <br/> <br/>
    <h4>Orders</h4>
    <div class="card">
        <div class="card-body"><a href="orders">Orders</a></div>
        <div class="card-footer"><a href="create-order">Create New Order</a></div>
    </div>


    <br/> <br/>
    <h4>Greetings</h4>
    <div class="card">
        <div class="card-body"><a href="greetings">Greetings</a></div>
        <div class="card-footer"><a href="create-greeting">Create New Greeting</a></div>
    </div>

</div>
</body>
</html>
