<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Created Greeting</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <br/> <br/>
</head>
<body>
<div class="container container-fluid">
    <h1>Created Greeting</h1>
    <br> <br>
    <div>
        <p th:text="'Greeting Message: ' + ${greetings.message}"></p>
        <p th:text="'Time Stamp: ' + ${greetings.timestamp}"></p>
    </div>

    <br> <br>
    <div>
        <p>
            <a href="/create-greeting" style="margin: 10px">Create New</a>
            <a href="/greetings" style="margin: 10px">All Greetings</a>
            <a href="/home" style="margin: 10px">Home</a>
        </p>
    </div>
</div>
</body>
</html>
