<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Created Customer</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <br/> <br/>
</head>
<body>
<div class="container container-fluid">
    <h1>Created Order</h1>
    <br> <br>
    <div>
        <p th:text="'orderId: ' + ${order.orderId}"></p>
        <p th:text="'customerId: ' + ${order.customerId}"></p>
        <p th:text="'Order ItemName: ' + ${order.orderItemName}"></p>
        <p th:text="'Order Place: ' + ${order.orderPlace}"></p>
        <p th:text="'Order Purchase Time: ' + ${order.orderPurchaseTime}"></p>

        <br>
        <a href="/create-order">Create another Order</a>

        <br> <br>
        <br> <br>
    </div>
    <div>
        <a href="http://localhost:8095/store/orders" target="_blank">Click here to see all Orders</a>
    </div>
</div>
</body>
</html>
