<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders List</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<br/> <br/>
<div class="container container-fluid">
    <h1> Order List</h1>
    <br/> <br/>
    <table class="table table-bordered"  th:if="!${orders.empty}">
        <thead class="font-weight-bold">
        <tr>
            <td> Order Id</td>
            <td> Customer Id</td>
            <td> Item Name</td>
            <td> Order Place</td>
            <td> Purchase Time</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="order: ${orders}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.customerId}"></td>
                <td th:text="${order.orderItemName}"></td>
                <td th:text="${order.orderPlace}"></td>
                <td th:text="${order.orderPurchaseTime}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${orders.empty}">
        <p> No Orders Available </p>
    </div>


    <br> <br>
    <div style="text-align: center">
        <p>
            <a href="/create-order" style="margin: 10px">Create New</a>
            <a href="/home" style="margin: 10px">Home</a>
        </p>
    </div>
</div>
</body>
</html>
